<form (ngSubmit)="onSubmit(formLogin)" #formLogin="ngForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input name="email" ngModel email required type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input name="password" ngModel required type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button [disabled]="formLogin.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>