<div [@myAnimation]="isOpen ? 'open' : 'close'" class="card playlist-bg" *ngIf="album">
    <img 
      class="card-img-top" 
      src="https://fakeimg.pl/350x350/?text={{ album.title }}" 
      alt="Group Music"
    >
    <div class="card-body">
        <h5 class="card-title">{{ album.title }}</h5>
        <p class="card-text">{{ album.ref }}</p>
        <a class="btn btn-info" (click)="play(album)">Play >> </a>
    </div>

    <div class="trackList" *ngIf="tracks">
      <ul class="list-group">
          <li
            class="list-group-item track"
            *ngFor="let track of tracks.list" 
            (click)="isActive($event)"
          >
            {{ track }}
          </li>
        </ul>
    </div>
</div>