.cover-size {
    width: 50%;
    margin-left: auto;
	margin-right: auto;
	display: block;
}

.playlist-bg {
    background-color: #181818;
    color: aliceblue;
}

.list-group > li {
    background-color: #787878;
}

.list-group > li:hover {
    background-color: #181818;
}

.list-group > li:active {
    background-color: #bb1818;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}