{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}

    {% set check = true %}

    <div class="row">
        {% for ad in ads %}
            {% if ad.published is same as(false) %}
                {% set check = false %}
                <div class="col-md-12">
                    <div class="card mb-4 my-4">
                        <img class="card-img-top card-img-top-show" src="{{ ad.image.url }}" alt="{{ ad.image.path }}">
                        <div class="card-body">
                            <h2 class="card-title">{{ ad.title }}</h2>
                            <hr>
                            <p class="card-text">{{ ad.content }}</p>
                        </div>
                        <div class="card-footer text-muted">
                            Posté le: {{ ad.createdAt | date('d/m/Y à H:i') }}
                            <small class="float-right">
                                <button 
                                    class="btn btn-danger" 
                                    onclick="window.location.href='{{ path('del', {'id': ad.id}) }}'"
                                >
                                    Refuser
                                </button>
                                <button 
                                    class="btn btn-success" 
                                    onclick="window.location.href='{{ path('publish', {'id': ad.id}) }}'"
                                >
                                    Publier
                                </button>
                            </small>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {% if ads is empty or check is same as(true) %}
        <h1 style="text-align: center" class="center-to-middle">-Aucune annonce en attente-</h1>
    {% endif %}
    
{% endblock %}
