{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
    <div class="mt-4">
        <h1>Postuler: </h1>

        {{ form_start(formAd) }}

        {{ form_row(formAd.content, {"attr": {"placeholder": "Description de l'annonce"}}) }}
        {{ form_row(formAd.author, {"attr": {"placeholder": "Votre identifiant"}}) }}

        <button type="submit" class="btn btn-success">Candidater</button>

        {{ form_end(formAd) }}
    </div>
{% endblock %}