{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}

    {% if ads is empty %}
        <h1 style="text-align: center">-Aucune annonce-</h1>
    {% endif %}

    <div class="row">
        <div class="card-group"> 
        {% for ad in ads %}
            {% if ad.published is same as(true) %}
                <div class="col-md-3">
                    <div class="card mb-4">
                        <h4><strong>{{ ad.author }}</h4>
                        <img class="card-img-top" src="{{ ad.image.url }}" alt="{{ ad.image.path }}">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ ad.title | slice(0, 30) }}{% if ad.title | length > 30 %}<small>...</small>{% endif %}
                            </h5>
                            <a href="{{ path('home', {'page': ad.id}) }}" class="btn btn-primary">Voir plus &rarr;</a>
                        </div>
                        <div class="card-footer text-muted">
                            Posté le: {{ ad.createdAt | date('d/m/Y à H:i') }}</strong>
                        </div>
                    </div>
                </div> 
            {% endif %}
        {% endfor %}
        </div>
        <!-- <div class="col-2 category-div">
            <h3>Catégorie</h3>
        </div> -->
    </div>
{% endblock %}
