{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
    <div class="mt-4">
        {% if isEdit %}
            <h1>Modifier l'annonce:</h1>
        {% else %}
            <h1>Créer une annonce:</h1>
        {% endif %}

        {{ form_start(formAd) }}

        {{ form_row(formAd.title, {"attr": {"placeholder": "Titre de l'annonce"}}) }}
        {{ form_row(formAd.content, {"attr": {"placeholder": "Description de l'annonce"}}) }}
        {{ form_row(formAd.author, {"attr": {"placeholder": "Votre identifiant"}}) }}

        {% if isEdit %}
            <button type="submit" class="btn btn-success">Modifer l'annonce</button>
        {% else %}
            <button type="submit" class="btn btn-success">Ajouter l'annonce</button>
        {% endif %}

        {{ form_end(formAd) }}
    </div>
{% endblock %}