{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4 my-4">
            <img class="card-img-top card-img-top-show" src="{{ ad.image.url }}" alt="{{ ad.image.path }}">
            <div class="card-body">
                <h2 class="card-title">{{ ad.title }}</h2>
                <hr>
                <p class="card-text">{{ ad.content }}</p>
            </div>
            <div class="card-footer text-muted">
                Posté le: {{ ad.createdAt | date('d/m/Y à H:i') }}
                <small class="float-right">
                    <button 
                        class="btn btn-warning" 
                        onclick="window.location.href='{{ path('apply', {'id': ad.id}) }}'"
                    >
                        Candidater
                    </button>
                    <button 
                        class="btn btn-danger" 
                        onclick="window.location.href='{{ path('del', {'id': ad.id}) }}'"
                    >
                        Supprimer
                    </button>
                    <button 
                        class="btn btn-success" 
                        onclick="window.location.href='{{ path('edit', {'id': ad.id}) }}'"
                    >
                        éditer
                    </button>
                </small>
            </div>
        </div>
    </div>
</div>

{% if applies is not empty %}
    <div class="row">
        <div class="col">
            <h2>Liste des candidatures:</h2>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Auteur</th>
                    <th scope="col">Message</th>
                    <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
            {% for apply in applies %}
                    <tr>
                    <th scope="row">{{ loop.index }}</th>
                        <td>{{ apply.author }}</td>
                        <td>{{ apply.content }}</td>
                        <td>{{ apply.createdAt | date('d/m/Y à H:i') }}</td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}

{% endblock %}
