<div class="row tools fixed-top">
  <div class="col-sm-8">
      <app-audio-player></app-audio-player>
  </div>
  <div class="col-sm-4">
      <app-search (searchAlbums)="search($event)"></app-search>
  </div>
</div>


<div class="row">
  <div class="col-sm-4 video">
    <app-album-playlist 
      [album]="selectedAlbum"
      (onPlay)="playParent($event)">
    </app-album-playlist>
  </div>
  <div class="col-sm-8">
    <h4 class="h4-light">{{ titlePage }}</h4>
    <span *ngIf="albums">
      <div class="card" *ngFor="let album of albums">
        <div class="card-link" (click)="onSelect(album)">
          <div class="card-header">
              {{ album.ref }}
              <span *ngIf="check === album.id">
                <img
                  style="float: right" 
                  src="./assets/images/play-icon.jpg" 
                  alt="play icon"
                  value="[play]"
                  width="40px"
                >
              </span>
          </div>
          <div class="card-body">
              <h5 class="card-title">{{ album.title }}</h5>
              <p class="card-text">{{ album.description }}</p>
              
              <p class="card-text" *ngIf="album.tags">
                <span class="badge badge-info mx-1" *ngFor="let tag of album.tags">{{ tag }}</span>
              </p>
      
              <img class="glyph-icon" src="./assets/svg/si-glyph-heart.svg" />
              <small *ngIf="album.like; else noLike">{{ album.like }}</small>
              <ng-template #noLike>
                <small>0</small>
              </ng-template>
  
              <span class="mx-1"></span>
  
              <img class="glyph-icon" src="./assets/svg/si-glyph-timer.svg" />
              <small>{{ album.duration | convertTime }} min</small>

              <span style="float: right">
                <a routerLink="/album/detail/{{ album.id }}" class="btn btn-info">MORE</a>
              </span>
          </div>
        </div>
      </div>
    </span>
  </div>
</div>

<app-paginate (setPaginate)="paginate($event)"></app-paginate>
