.card-link {
    color: inherit;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.tools {
    padding: 15px;
    
    background-color: black;

    border-top-style: dashed;

    margin-top: 55px;
}