<div class="row content">
    <div class="col-sm music">
        <!-- <button type="button" class="btn btn-lg btn-danger">You are in an anonymous mode.</button> -->
        <app-albums [page]="page"></app-albums>
    </div>
</div>
