<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
            <a class="navbar-brand" href="{{ path('home') }}">MOVIEDB</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('add') }}">Ajouter<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container mb-5">
            {% block body %}{% endblock %}
        </div>

        <footer class="page-footer font-small blue fixed-bottom">
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
                <a href="{{ path('home') }}"> MOVIEDB</a>
            </div>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
