<div class="row">
  <div class="col align-self-center mt-3">
      <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
              <li class="page-item">
                  <a class="page-link" (click)="selectedPage(1)" tabindex="-1">&laquo;</a>
              </li>
              <li [class.active]="currentPage == page" *ngFor="let page of pages" class="page-item">
                <a (click)="selectedPage(page)" class="page-link">{{ page }}</a>
              </li>
              <li class="page-item">
                  <a class="page-link" (click)="selectedPage(maxPage)">&raquo;</a>
              </li>
          </ul>
      </nav>
  </div>
</div>