<div class="row">

    <div class="col-sm-4" *ngIf="item">
      <img 
        src="https://fakeimg.pl/500x500/?text={{ item.title }}"
        class="img-fluid"
      >
    </div>

    <div class="col-sm-8" *ngIf="item">
      <div class="card">
        <div class="card-link">
          <div class="card-header">
              {{ item.ref }}
          </div>

          <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-text">{{ item.description }}</p>
              
              <p class="card-text" *ngIf="item.tags">
                <span class="badge badge-info mx-1" *ngFor="let tag of item.tags">{{ tag }}</span>
              </p>
      
              <img class="glyph-icon" src="./assets/svg/si-glyph-heart.svg" />
              <small *ngIf="item.like; else noLike">{{ item.like }}</small>
              <ng-template #noLike>
                <small>0</small>
              </ng-template>

              <span class="mx-1"></span>

              <img class="glyph-icon" src="./assets/svg/si-glyph-timer.svg" />
              <small>{{ item.duration | convertTime }} min</small>
          </div>
        </div>
      </div>
    </div>

</div>
