<form 
  class="form-inline pt-3"
  (ngSubmit)="onSubmit(formSearch)" 
  #formSearch="ngForm"
>

  <input 
    name="word" 
    ngModel 
    required 
    class="form-control" 
    type="search" 
    placeholder="Search" 
    aria-label="Search"
  >

  <button class="btn btn-success" type="submit">Search</button>

</form>
