{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>Ajouter une formation !</h1>

            {{ form_start(form) }}

                {{ form_row(form.name, {"label": "Nom de la formation:","attr": {"placeholder": "symfony 4, angular, reactJs, ..."}}) }}
                {{ form_row(form.modules) }}

                <button class="btn btn-primary">Ajouter !</button>
                
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}