{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-pills">
                {% for f in formations %}
                    {% if formation.name is same as(f.name) %}
                        <li class="active"><a href="{{ path('formation_home', {'slug': f.slug})}}" class="nav-link active">{{ f.name }}</a></li>
                    {% else %}
                        <li><a href="{{ path('formation_home', {'slug': f.slug})}}">{{ f.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron">
                <h1>{{ formation.name }}</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>List of modules</h2>
            <ul class="list-group">
                {% for module in formation.modules %}
                    <li class="list-group-item"><a href="{{ path('modules', {'slug': module.slug}) }}">{{ module.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}