{% extends 'base.html.twig' %}

{% block body %}

    <form method="get" action="{{ path('add_formation') }}">
        <button class="btn btn-success" type="submit">Ajouter une formation</button>
    </form>

    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-pills">
                {% for formation in formations %}
                    <li><a href="{{ path('formation_home', {'slug': formation.slug})}}">{{ formation.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron">
                <h1>Hello !</h1>
                <p>Choose a training in the menu…</p>
            </div>
        </div>
    </div>
{% endblock %}
