/* You can add global styles to this file, and also import other style files */
body, html {
    background-color: 	#303030 !important;
    margin-top: 160px;
}

.principal {
    border-radius: .25rem; 
    padding : 1rem; 
}

.content{
    margin-top : 1rem;
}

.music {
    .card, .pagination {
        margin-top: 0.5rem;
    }
    .btn{ display: inline-block;  margin: 0 0.6rem; }
}
.glyph-icon {
   height: .75rem;
   display: inline-block; margin:0.25rem;
}

.h4-light {
    color: aliceblue
}