<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Le site des petites annonces !</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
        <link href="{{ asset('css/base.css') }}" rel="stylesheet" type="text/css"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <a class="navbar-brand" href="/">ADD-tes-AD.fr</a>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home_ad') }}">Annonces</a>
                    </li>
                </ul>
            </div>
            <div class="nav-item dropdown">
                <a 
                    class="nav-link dropdown-toggle"
                    href="http://example.com"
                    id="navbarDropdownMenuLink"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    style="color: black"
                >
                    Options
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="nav-link" href="{{ path('add') }}">Créer</a>
                    <a class="nav-link" href="{{ path('accept') }}">Valider</a>
                </div>
            </div>
        </nav>
        

        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>

        <footer class="page-footer font-small blue bg-primary fixed-bottom">
            <div class="footer-copyright text-center py-3">© 2018 Copyright:
                <a href="{{ path('home_ad') }}" style="color: white"> ADD-tes-AD.fr</a>
            </div>
        </footer>

        {% block javascripts %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    </body>
</html>
