<div *ngIf="showplayer" class="progressBar">
  <div class="row justify-content-center">
    <div class="col-sm-3 text-center player-tools">
      <i class="fas fa-backward"></i>
      <i class="fas fa-play"></i>
      <i class="fas fa-stop"></i>
      <i class="fas fa-forward"></i>
    </div>
    <div class="col-sm-9 pt-1">
      <div class="progress">
        <div 
          class="progress-bar progress-bar-striped progress-bar-animated" 
          role="progressbar" 
          aria-valuenow="" 
          aria-valuemin="0" 
          aria-valuemax="100"
          [style.width]="ratio + '%'"
        >
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="my-info col mt-2 pl-3">
      <p>
        <strong>{{ album.title }}</strong>
        <span style="float: right">
          {{ current ? current : 0 }} / {{ total ? total : 0}}
        </span>
      </p>
    </div>
  </div>
</div>