body {
    min-height: 75rem;
    padding-top: 4.5rem;
    background-color: #1a1a1a;
}
footer {
    margin-top: 20px;
}

.category-div {
    border: solid white 2px;
    border-radius: 10px;
    background-color: white;
}

.category-div > h3 {
    text-align: center;
    text-decoration: underline;
}

.card-img-top-show {
    width: 20%;
    height: 15vw;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-to-middle {
    height: 100px;
    width: 600px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -300px;
}