<div class="alert alert-danger alert-dismissible" *ngIf="error">
  <a href="#" (click)="close()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>ERROR: </strong> {{ error }}
</div>

<div class="col-sm form-login">
  <form [formGroup]="formLog" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input 
        type="email" 
        class="form-control" 
        id="exampleInputEmail1" 
        aria-describedby="emailHelp" 
        placeholder="Enter email"
        formControlName="email"
      >
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input 
        type="password" 
        class="form-control" 
        id="exampleInputPassword1" 
        placeholder="Password"
        formControlName="pwd"
      >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>