{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <form method="get">
            SEARCH: <input type="text" name="search"> | RESET: <a href="{{ path('home') }}">reset</a>
        </form>
        <div class="col-xs-12">
            <h1>Members</h1>
            <table class="table table-striped">
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th></th>
                </tr>
                {% for user in users %}
                <tr>
                    <td>{{ user.fname }}</td>
                    <td>{{ user.lname }}</td>
                    <td><a href="{{ path('show_user', {'id': user.id}) }}" class="btn btn-primary">Details</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
