{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <h1>{{ user.id }}</h1>
                <div class="col-xs-2">
                    <img src="{{ user.picture }}" class="img-responsive img-circle" />
                </div>
                <div class="col-xs-10">
                    <p><strong class="text-uppercase">First name :</strong>{{ user.fname }}</p>
                    <p><strong class="text-uppercase">Last name :</strong>{{ user.lname }}</p>
                    <p><strong class="text-uppercase">Email :</strong> <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
                </div>
            </div>
            <div class="row">
                <a href="{{ path('home') }}" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>
{% endblock %}
