<nav class="navbar navbar-expand-lg navbar-dark my-navbar-bg fixed-top">
    <a class="navbar-brand" routerLink="/">{{ title }}</a>
    <button 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" 
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" *ngIf="isLogged">
                <a 
                    class="nav-link" 
                    routerLink="/dashBoard" 
                    routerLinkActive="active"
                >
                    DashBoard<span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>{{ count }}</li>
            <li class="nav-item active" *ngIf="!isLogged">
                <a 
                    class="nav-link" 
                    routerLink="/login" 
                    routerLinkActive="active"
                >
                    Se connecter<span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active" *ngIf="!isLogged">
                <a 
                    class="nav-link" 
                >
                    S'inscrire<span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active" *ngIf="isLogged">
                <a 
                    class="nav-link"
                    routerLink="/"
                    (click)="onSignout()"
                >
                   Se déconnecter<span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
</nav>