<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Formation</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>

    <body>

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}

    </body>
</html>
