{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {{ form_start(formMovie) }}

    <div class="row">
        <div class="col-6">
            {{ form_row(formMovie.name, { 'label': 'Nom de film' }) }}
            <div style="border:solid black 1px;border-radius:10px;padding:20px" class="mb-2">
                {{ form_row(formMovie.producer, { 'label': 'Qui a produit le film ?' }) }}
                {{ form_row(formMovie.producerText, { 'label': 'Ajouter un producteur manquant à la liste' }) }}
            </div>
            <div style="border:solid black 1px;border-radius:10px;padding:20px" class="mb-2">
                {{ form_row(formMovie.actor, { 'label': 'Qui a joué dans le film ?' }) }}
                {{ form_row(formMovie.actorText, { 'label': 'Ajouter un acteur manquant à la liste' }) }}
            </div>
        </div>
        <div class="col-6">
            {{ form_row(formMovie.releaseDate, { 'label': 'Date de sortie' }) }}
            <div style="border:solid black 1px;border-radius:10px;padding:20px" class="mb-2">
                {{ form_row(formMovie.realisator, { 'label': 'Qui a réalisé le film ?' }) }}
                {{ form_row(formMovie.reaText, { 'label': 'Ajouter un réalisateur manquant à la liste' }) }}
            </div>
        </div>
    </div>

    <button class="btn btn-success">Valider</button>

    {{ form_end(formMovie) }}

    {% block javascripts %}
        <script type="text/javascript">

            //Permet de masquer le input permettant d'ajouter un producteur si le choix est à "none"
            //car la relation entre les 2 entités est ManyToOne ce qui veut dire qu'un film ne peut avoir qu'un producteur
            //mais un producteur peut avoir produit plusieurs film !

            document.querySelector('#form_producer').addEventListener('click', (e) => {
                var rea = document.getElementById('form_producer')

                if (rea.options[rea.selectedIndex].value) {
                    document.getElementById('form_producerText').style.visibility = 'hidden'
                    document.getElementById('form_producerText').value = ''
                } else {
                    document.getElementById('form_producerText').style.visibility = 'visible'
                }
            })

            document.querySelector('#form_realisator').addEventListener('click', (e) => {
                var rea = document.getElementById('form_realisator')

                if (rea.options[rea.selectedIndex].value) {
                    document.getElementById('form_reaText').style.visibility = 'hidden'
                    document.getElementById('form_reaText').value = ''
                } else {
                    document.getElementById('form_reaText').style.visibility = 'visible'
                }
            })
        </script>
    {% endblock %}
{% endblock %}