{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block stylesheets %}
    <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }
        
        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }
        
        tr:nth-child(even) {
        background-color: #dddddd;
        }
    </style>
{% endblock %}

{% block body %}
<table>
    <tr>
        <th>FILM</th>
        <th>
            DATE DE SORTIE
            {% if sort is same as('ASC') %}
                {% set filter = 'DESC' %}
            {% else %}
                {% set filter = 'ASC' %}
            {% endif %}
            <form action="{{ path('home', {'sort': filter }) }}" style="display:inline-block; float:right">
                <button class="btn btn-info">&#8595;</button>
            </form>
        </th>
    </tr>
    {% for movie in movies %}
        <tr>
            <td><a href="{{ path('movie', {'id': movie.id}) }}">{{ movie.name }}</a></td>
            <td>{{ movie.releaseDate }}</td>
        </tr>
    {% endfor %}
  </table>
{% endblock %}
