{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block stylesheets %}
    <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }
        
        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }
        
        tr:nth-child(even) {
        background-color: #dddddd;
        }
    </style>
{% endblock %}

{% block body %}
<table>
    <tr>
        <th>
            Liste des acteurs du film "<i style="color:red">{{ actors.name }}</i>" 
            produit par <a href="{{ path('productor', {'id': actors.producer.id}) }}">{{ actors.producer.name }}</a>
            et réalisé par <a href="{{ path('realisator', {'id': actors.realisator.id}) }}">{{ actors.realisator.name }}</a>
            en {{ actors.releaseDate }}
        </th>
    </tr>
        {% for actor in actors.actor %}
        <tr>
            <td>
                <div>
                    {{ actor.name }}
                        {% if actor.movies | length > 1 %}
                            <span style="float:right"><strong>Autre(s) film(s):</strong>
                            {% for movies in actor.movies %}
                                {% if not movies.name is same as(actors.name) %}
                                    <a href="{{ path('movie', {'id': movies.id}) }}">{{ movies.name }}</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </span>
                </div>
            </td>
        </tr>
        {% endfor %}
  </table>
{% endblock %}
