{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block stylesheets %}
    <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }
        
        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }
        
        tr:nth-child(even) {
        background-color: #dddddd;
        }
    </style>
{% endblock %}

{% block body %}
<table>
    <tr>
      <th>FILM produit par {{ productorMovies.name }}</th>
    </tr>
    {% for movie in productorMovies.movies %}
        <tr><td><a href="{{ path('movie', {'id': movie.id}) }}">{{ movie.name }}</a></td></tr>
    {% endfor %}
  </table>
{% endblock %}
